{% contentType "Admin" %}
<html lang="en" ng-app="coontiAdmin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ content.title }}</title>
    {% js %}
    {% css %}
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
	  {% if user is defined %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  {% elseif routing.route != '/login' %}
            <ul id="mobileLogin" class="nav pull-right visible-xs-block">
	      <li><a href="/{{ routing.coontiPath }}">Go to Site</a></li>
	      <li><a href="{{ routing.prefix }}/login">Sign In</a></li>
	    </ul>
	  {% endif %}
	  <a class="navbar-brand" href="{{ routing.prefix }}/"><img src="{% media 'coonti/coonti-logo.png' resize 150x45 scale middle center %}" alt="Coonti Admin"/></a>
        </div>

        {% if routing.route != '/login' %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
	  {% if user is defined %}
            <li><a href="#/profile">{{ user.account }} ({{ user.email }})</a></li>
	    <li><a href="/{{ routing.coontiPath }}">View Site</a></li>
	    <li><a href="{{ routing.prefix }}/logout">Sign Out</a></li>
          {% else %}
	    <li><a href="/{{ routing.coontiPath }}">Go to Site</a></li>
	    <li><a href="{{ routing.prefix }}/login">Sign In</a></li>
          {% endif %}
	  </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    {% if user is defined %}
    <div class="container-fluid" id="coontiAdminMenu">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 sidebar" ng-class="{ collapse: isCollapsed }" ng-click="isCollapsed = true">
          <ul class="nav nav-sidebar" ng-controller="AdminMenuCtrl">
	    <li ng-repeat="item in menu" ng-class="{ 'separated': item.separated }">
	      <a ng-if="item.url" id="coontiAdminMenu-{% ng item.name %}" class="coontiAdminMenuItem-{% ng item.depth %}" href="{% ng item.url %}">{% ng item.title %}</a>
	      <span ng-if="!item.url" id="coontiAdminMenu-{% ng item.name %}" class="coontiAdminMenuItem-{% ng item.depth %}">{% ng item.title %}</span>
	    </li>
	    <li class="separated">
	      <span>Coonti {{ coonti.version }} / {{ coonti.release }}</span>
	    <li>
            <li class="visible-xs-block"><a href="#/profile">Profile for {{ user.account }} ({{ user.email }})</a></li>
	    <li class="visible-xs-block"><a href="/{{ routing.coontiPath }}">View Site</a></li>
	    <li class="visible-xs-block"><a href="{{ routing.prefix }}/logout">Sign Out</a></li>
	  </ul>
	</div>

        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" id="coontiAdminContent" ng-view>
          <h1 class="page-header">{{ content.title }}</h1>
          {{ content.content }}
        </div>
      </div>
    </div>

    {% else %}
    
    <div class="loggedOut" id="coontiAdminContent">
      <h1 class="page-header">{{ content.title }}</h1>
      {{ content.content }}
      {% if content.form is defined %}
      <section id="adminForm">
        {% if content.formError != false %}
	  <div class="coontiFormMessage">
	    {{ content.formError }}
	  </div>
	{% endif %}
	{% form content.form %}
      </section>
      {% endif %}
    </div>

    {% endif %}
    
    <section id="coontiAdminFooter">
      Executed by Coonti Admin!<br/>
    </section>
    
  </body>
</html>
